@using Backend.Contracts;
<form method="post" name="angebote">
    <h1>NEUES ANGEBOT</h1>
    <h3>Kunde</h3>
    <select name="KundeId">
        @foreach (Kunde k in ViewBag.AlleKunden)
        {
            <option value="@k.Id">@k.Name</option>
        }
    </select>
    <br />
    Freitext / Preis:<br />

    <input type="text" name="position1" /> <input type="text" name="preis1" />

    <br />
    Gesamt: 2500€<br />
    <br />
    Datum: <br />
    <input type="text" name="Datum" value="21.6.2016" /><br />
    <br />
    <input type="submit">speichern</input><br />
    <button>speichern + pdf</button><br />
    <button>speichern + versenden</button><br />
    <button>abbrechen</button>
</form>