@using Backend.Contracts;

<script>
    var count=0;
    function  addNewLine()
    {
        count++;
        $( ".position" ).append( '<br><input type="text" name="Positionen['+count+'].Freitext" /> <input type="text" name="Positionen[' +count+'].Preis" /></br>' );
    }

    function pdfCreate()
    {
        $("form")[0].action = "CreateWithPdf";
        $("form")[0].submit();
    }
  
    function mailCreate() {
        
        var r = window.confirm("Möchten Sie das Angebot wirklich speichern und versenden?");
        if (r == true)
        {

            $("form")[0].action = "CreateWithMail";
            $("form")[0].submit();
        }
    }
    
</script>

<form method="post" name="angebote" action="Create">
    <h1>NEUES ANGEBOT</h1>
    <h3>Kunde</h3>
    <select name="KundeId">
        @foreach (Kunde k in ViewBag.AlleKunden)
        {
            <option value="@k.Id">@k.Name</option>
        }

    </select>
    <br />
    Freitext / Preis:<br />
    
    <section class="position">
        <br ><input type="text" name="Positionen[0].Freitext" /> <input type="text" name="Positionen[0].Preis" /> <a href="javascript:addNewLine()">+</a></br>
    
    </section>

    <br />
    Gesamt: 2500€<br />
    <br />
    Datum: <br />
    <input type="text" name="Datum" value="21.6.2016" /><br />
    <br />
    <input type="submit">speichern</input><br />
        <button onclick="javascript:pdfCreate()">speichern + pdf</button><br />
        <button onclick="javascript:mailCreate()">speichern + versenden</button><br />
        <button>abbrechen</button>
    </form>