<h1>NEUES ANGEBOT</h1>
Kunde < br />
@Html.DropDownList("kunde", ViewBag.AlleKunden as SelectList)
<select name="customer">
    <option>Kunde 1</option>
    <option>Kunde 2</option>
</select>
<br />
    Freitext / Preis:<br />
<input type="text" name="position1"  /> <input type="text" name="preis1"  /> <a href="" >+</a><br />
<input type="text" name="position2"  /> <input type="text" name="preis1" /> <br />
<br />
Gesamt: 2500€<br />
<br />
Datum: <br />
<input type="text" value="21.6.2016" /><br />
<br />
<button>speichern</button><br />
<button>speichern + pdf</button><br />
<button>speichern + versenden</button><br />
<button>abbrechen</button>
